* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #AAA;
}

tr:nth-child(2n) {
    background-color: #80DEEA;
}

tr:nth-child(2n+1) {
    background-color: #B2EBF2;
}

td {
    padding: 0.5rem 0;
}

thead {
    background-color: aqua;
}

table {
    border: 5px solid white;
}

.bg-vallagchey {
    background-color: #4f46e5;
}

.text-purple {
    color: #096e6e;
}

.not-allowed {
    cursor: not-allowed !important;
}